.star_icon {
  color: rgba(102, 100, 100, 0.404);
  width: 26px;
  height: 28px;
  padding: 0.5px 0px 2.7px 0px;
  cursor: pointer;
  margin-bottom: 10px;
}
.star_icon_container {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  align-items: center;
}
.starrating{
    color: var(--primary-color);
}