.radio_option {
  margin-top: -10px;
}
.radio_options {
  margin-top: -5px;
  margin-right: 10px;
  margin-left: 5px;
}
.radio_options {
  margin-left: 10px !important;
}
 .radio_container{
  margin: 20px 0;
 }.css-ezppyz-MuiButtonBase-root-MuiRadio-root {
  
  color: var(--title-color) !important;
  border-radius: 50%;
 }