.testimonial{
    background-image: var(--third-gradient);
    
}
.testimonial__container{
    text-align: center;
    margin-top: -3%;
}.testimonial__header{
    position: relative;
}
.testimonial__img{
    height: 180px;
    width: 100%;
    border-radius: 18px;
    object-fit: cover;
    margin-bottom: 30px;
    vertical-align: middle;
}
.testimonial__icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 66px;
    height: 66px;
    background: var(--container-color);
    border-bottom-right-radius: 18px;
    z-index: 100;
}
.testimonial__name{
    color: var(--primary-color);
    margin-top: 1%;
}.testimonial__author{
    font-weight: 900;
}
/* .swiper-pagination-fraction, .swiper-pagination-custom, 
.swiper-horizontal > .swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal {
    margin-left: 45%;
} */